HELP.md
target/
logs/
**/.mvn/**
!**/src/main/**
!**/src/test/**
release.properties
*.releaseBackup
**/*.releaseBackup
*.versionsBackup
**/*.versionsBackup
.lh

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/pom.xml.versionsBackup
